@font-face {
	font-family: CircularStd-Bold_7-;
	src: url("../fonts/CircularStd-Bold_7-.woff") format("woff");
}

@font-face {
	font-family: Soleil-Bold_85;
	src: url("../fonts/Soleil-Bold_85.woff") format("woff");
}

@font-face {
	font-family: SoleilBk_7u;
	src: url("../fonts/SoleilBk_7u.woff") format("woff");
}

@font-face {
	font-family: Soleil_87;
	src: url("../fonts/Soleil_87.woff") format("woff");
}
@font-face {
	font-family: CircularStd-Black_8f;
	src: url("../fonts/CircularStd-Black_8f.woff") format("woff");
}

@font-face {
	font-family: CircularStd-Bold_8a;
	src: url("../fonts/CircularStd-Bold_8a.woff") format("woff");
}

@font-face {
	font-family: Soleil-Bold_7t;
	src: url("../fonts/Soleil-Bold_7t.woff") format("woff");
}

@font-face {
	font-family: SoleilBk_83;
	src: url("../fonts/SoleilBk_83.woff") format("woff");
}

@font-face {
	font-family: SoleilLt_82;
	src: url("../fonts/SoleilLt_82.woff") format("woff");
}

@font-face {
	font-family: Soleil_89;
	src: url("../fonts/Soleil_89.woff") format("woff");
}
@font-face {
	font-family: CircularStd-Bold_81;
	src: url("../fonts/CircularStd-Bold_81.woff") format("woff");
}

@font-face {
	font-family: Soleil-Bold_7z;
	src: url("../fonts/Soleil-Bold_7z.woff") format("woff");
}

@font-face {
	font-family: Soleil-Regular_88;
	src: url("../fonts/Soleil-Regular_88.woff") format("woff");
}

@font-face {
	font-family: SoleilBk_8c;
	src: url("../fonts/SoleilBk_8c.woff") format("woff");
}

@font-face {
	font-family: Soleil_7s;
	src: url("../fonts/Soleil_7s.woff") format("woff");
}

@font-face {
	font-family: CircularStd-Bold_8e;
	src: url("../fonts/CircularStd-Bold_8e.woff") format("woff");
}

@font-face {
	font-family: Soleil-Bold_7r;
	src: url("../fonts/Soleil-Bold_7r.woff") format("woff");
}

@font-face {
	font-family: SoleilBk_84;
	src: url("../fonts/SoleilBk_84.woff") format("woff");
}

@font-face {
	font-family: SoleilLt_8b;
	src: url("../fonts/SoleilLt_8b.woff") format("woff");
}

@font-face {
	font-family: Soleil_7y;
	src: url("../fonts/Soleil_7y.woff") format("woff");
}

@font-face {
	font-family: CircularStd-Black_7x;
	src: url("../fonts/CircularStd-Black_7x.woff") format("woff");
}

@font-face {
	font-family: CircularStd-Bold_86;
	src: url("../fonts/CircularStd-Bold_86.woff") format("woff");
}

@font-face {
	font-family: SoleilBk_7q;
	src: url("../fonts/SoleilBk_7q.woff") format("woff");
}

@font-face {
	font-family: CircularStd-Bold_8d;
	src: url("../fonts/CircularStd-Bold_8d.woff") format("woff");
}

@font-face {
	font-family: Soleil-Bold_7w;
	src: url("../fonts/Soleil-Bold_7w.woff") format("woff");
}

@font-face {
	font-family: SoleilBk_7p;
	src: url("../fonts/SoleilBk_7p.woff") format("woff");
}

@font-face {
	font-family: CircularStd-Bold_80;
	src: url("../fonts/CircularStd-Bold_80.woff") format("woff");
}

@font-face {
	font-family: SoleilBk_7v;
	src: url("../fonts/SoleilBk_7v.woff") format("woff");
}

