/** SPECIFIC **/

input[name$=" CIF Number"], 
input[data-field-name$=" CIF Number"] {
	padding-left:8px !important;	
   font-size:25px	!important;
   letter-spacing:21px !important;
}

input[name$="A2 Account Number"], 
input[data-field-name$="A2 Account Number"] {
   font-size:20px	!important;
   letter-spacing:8px !important;
}

input[name$="Checking Account Number"], 
input[data-field-name$=" Account Number"] {
   padding-left:8px !important;	
   font-size:20px	!important;
   letter-spacing:22px !important;
}

input[name$=" TIN"], 
input[data-field-name$=" TIN"] {
	padding-left:8px !important;	
   font-size:20px	!important;
   letter-spacing:25px !important;
}

[name$=" Year"], [name$=" Day"],  [name$=" Month"], 
[data-field-name$=" Year"], [data-field-name$=" Day"],  [data-field-name$=" Month"] {
	padding-left:5px !important;
	font-size:20px	!important;
   letter-spacing:11px !important;
}

[name$=" Years"],  [name$=" Months"], 
[data-field-name$=" Years"],  [data-field-name$=" Months"] {
	padding-left:5px !important;
	font-size:20px	!important;
   letter-spacing:35px !important;
}



[name$=" Code List"], 
[data-field-name$=" Code List"] {
	font-size:20px	!important;
}


input { 
	font-size: 22px !important;
	
}
	
	
