#t1_7{left:773px;bottom:19px;letter-spacing:-0.2px;}
#t2_7{left:726px;bottom:1247px;letter-spacing:0.16px;}
#t3_7{left:74px;bottom:994px;}
#t4_7{left:78px;bottom:987px;letter-spacing:0.11px;word-spacing:0.01px;}
#t5_7{left:857px;bottom:975px;}
#t6_7{left:850px;bottom:975px;}
#t7_7{left:845px;bottom:975px;}
#t8_7{left:842px;bottom:975px;}
#t9_7{left:835px;bottom:975px;}
#ta_7{left:827px;bottom:975px;}
#tb_7{left:820px;bottom:975px;}
#tc_7{left:816px;bottom:975px;}
#td_7{left:806px;bottom:975px;}
#te_7{left:801px;bottom:975px;}
#tf_7{left:794px;bottom:975px;}
#tg_7{left:784px;bottom:975px;}
#th_7{left:776px;bottom:975px;}
#ti_7{left:773px;bottom:975px;}
#tj_7{left:762px;bottom:975px;}
#tk_7{left:755px;bottom:975px;}
#tl_7{left:745px;bottom:975px;}
#tm_7{left:735px;bottom:975px;}
#tn_7{left:728px;bottom:975px;}
#to_7{left:725px;bottom:975px;}
#tp_7{left:721px;bottom:975px;}
#tq_7{left:714px;bottom:975px;}
#tr_7{left:704px;bottom:975px;}
#ts_7{left:693px;bottom:975px;}
#tt_7{left:689px;bottom:975px;}
#tu_7{left:683px;bottom:975px;}
#tv_7{left:678px;bottom:975px;}
#tw_7{left:671px;bottom:975px;}
#tx_7{left:664px;bottom:975px;}
#ty_7{left:653px;bottom:975px;}
#tz_7{left:646px;bottom:975px;}
#t10_7{left:638px;bottom:975px;}
#t11_7{left:631px;bottom:975px;}
#t12_7{left:624px;bottom:975px;}
#t13_7{left:616px;bottom:975px;}
#t14_7{left:609px;bottom:975px;}
#t15_7{left:602px;bottom:975px;}
#t16_7{left:596px;bottom:975px;}
#t17_7{left:589px;bottom:975px;}
#t18_7{left:585px;bottom:975px;}
#t19_7{left:581px;bottom:975px;}
#t1a_7{left:574px;bottom:975px;}
#t1b_7{left:566px;bottom:975px;}
#t1c_7{left:563px;bottom:975px;}
#t1d_7{left:559px;bottom:975px;}
#t1e_7{left:549px;bottom:975px;}
#t1f_7{left:541px;bottom:975px;}
#t1g_7{left:534px;bottom:975px;}
#t1h_7{left:528px;bottom:975px;}
#t1i_7{left:524px;bottom:975px;}
#t1j_7{left:516px;bottom:975px;}
#t1k_7{left:509px;bottom:975px;}
#t1l_7{left:498px;bottom:975px;}
#t1m_7{left:491px;bottom:975px;}
#t1n_7{left:483px;bottom:975px;}
#t1o_7{left:477px;bottom:975px;}
#t1p_7{left:469px;bottom:975px;}
#t1q_7{left:461px;bottom:975px;}
#t1r_7{left:455px;bottom:975px;}
#t1s_7{left:447px;bottom:975px;}
#t1t_7{left:441px;bottom:975px;}
#t1u_7{left:434px;bottom:975px;}
#t1v_7{left:430px;bottom:975px;}
#t1w_7{left:427px;bottom:975px;}
#t1x_7{left:418px;bottom:975px;}
#t1y_7{left:414px;bottom:975px;}
#t1z_7{left:404px;bottom:975px;}
#t20_7{left:400px;bottom:975px;}
#t21_7{left:396px;bottom:975px;}
#t22_7{left:387px;bottom:975px;}
#t23_7{left:379px;bottom:975px;}
#t24_7{left:372px;bottom:975px;}
#t25_7{left:366px;bottom:975px;}
#t26_7{left:361px;bottom:975px;}
#t27_7{left:354px;bottom:975px;}
#t28_7{left:346px;bottom:975px;}
#t29_7{left:343px;bottom:975px;}
#t2a_7{left:337px;bottom:975px;}
#t2b_7{left:330px;bottom:975px;}
#t2c_7{left:322px;bottom:975px;}
#t2d_7{left:312px;bottom:975px;}
#t2e_7{left:304px;bottom:975px;}
#t2f_7{left:301px;bottom:975px;}
#t2g_7{left:290px;bottom:975px;}
#t2h_7{left:283px;bottom:975px;}
#t2i_7{left:273px;bottom:975px;}
#t2j_7{left:263px;bottom:975px;}
#t2k_7{left:256px;bottom:975px;}
#t2l_7{left:253px;bottom:975px;}
#t2m_7{left:249px;bottom:975px;}
#t2n_7{left:242px;bottom:975px;}
#t2o_7{left:232px;bottom:975px;}
#t2p_7{left:226px;bottom:975px;}
#t2q_7{left:220px;bottom:975px;}
#t2r_7{left:213px;bottom:975px;}
#t2s_7{left:205px;bottom:975px;}
#t2t_7{left:200px;bottom:975px;}
#t2u_7{left:195px;bottom:975px;}
#t2v_7{left:188px;bottom:975px;}
#t2w_7{left:181px;bottom:975px;}
#t2x_7{left:170px;bottom:975px;}
#t2y_7{left:163px;bottom:975px;}
#t2z_7{left:158px;bottom:975px;}
#t30_7{left:152px;bottom:975px;}
#t31_7{left:146px;bottom:975px;}
#t32_7{left:138px;bottom:975px;}
#t33_7{left:132px;bottom:975px;}
#t34_7{left:121px;bottom:975px;}
#t35_7{left:112px;bottom:975px;}
#t36_7{left:112px;bottom:963px;letter-spacing:0.11px;}
#t37_7{left:113px;bottom:939px;letter-spacing:0.08px;}
#t38_7{left:156px;bottom:939px;letter-spacing:0.11px;}
#t39_7{left:113px;bottom:926px;letter-spacing:0.1px;}
#t3a_7{left:113px;bottom:914px;letter-spacing:0.1px;word-spacing:0.01px;}
#t3b_7{left:112px;bottom:890px;letter-spacing:0.1px;}
#t3c_7{left:112px;bottom:865px;letter-spacing:0.1px;}
#t3d_7{left:168px;bottom:865px;letter-spacing:0.11px;}
#t3e_7{left:112px;bottom:841px;letter-spacing:0.12px;word-spacing:-0.02px;}
#t3f_7{left:37px;bottom:755px;letter-spacing:0.08px;word-spacing:0.02px;}
#t3g_7{left:37px;bottom:743px;letter-spacing:0.1px;word-spacing:-0.01px;}
#t3h_7{left:37px;bottom:718px;letter-spacing:0.04px;}
#t3i_7{left:64px;bottom:718px;letter-spacing:0.08px;word-spacing:0.02px;}
#t3j_7{left:37px;bottom:706px;letter-spacing:0.06px;}
#t3k_7{left:64px;bottom:706px;letter-spacing:0.1px;}
#t3l_7{left:64px;bottom:694px;letter-spacing:0.1px;}
#t3m_7{left:64px;bottom:682px;letter-spacing:0.09px;word-spacing:0.01px;}
#t3n_7{left:73px;bottom:1189px;}
#t3o_7{left:75px;bottom:1183px;letter-spacing:0.11px;}
#t3p_7{left:122px;bottom:1170px;letter-spacing:0.1px;}
#t3q_7{left:122px;bottom:1158px;letter-spacing:0.1px;}
#t3r_7{left:122px;bottom:1146px;letter-spacing:0.04px;}
#t3s_7{left:149px;bottom:1146px;letter-spacing:0.09px;word-spacing:0.01px;}
#t3t_7{left:122px;bottom:1134px;letter-spacing:-0.18px;}
#t3u_7{left:149px;bottom:1134px;letter-spacing:-0.19px;}
#t3v_7{left:208px;bottom:1134px;letter-spacing:-0.19px;}
#t3w_7{left:149px;bottom:1122px;letter-spacing:-0.19px;}
#t3x_7{left:149px;bottom:1109px;letter-spacing:-0.19px;word-spacing:-0.02px;}
#t3y_7{left:149px;bottom:1097px;letter-spacing:-0.18px;word-spacing:-0.08px;}
#t3z_7{left:149px;bottom:1085px;letter-spacing:-0.18px;word-spacing:-0.07px;}
#t40_7{left:122px;bottom:1073px;letter-spacing:0.09px;}
#t41_7{left:149px;bottom:1073px;letter-spacing:0.1px;}
#t42_7{left:149px;bottom:1060px;letter-spacing:0.1px;}
#t43_7{left:584px;bottom:1060px;letter-spacing:0.1px;}
#t44_7{left:150px;bottom:1048px;letter-spacing:0.11px;}
#t45_7{left:150px;bottom:1036px;letter-spacing:0.1px;}
#t46_7{left:122px;bottom:1024px;letter-spacing:0.09px;}
#t47_7{left:150px;bottom:1024px;letter-spacing:0.09px;word-spacing:0.01px;}
#t48_7{left:122px;bottom:1012px;letter-spacing:0.08px;}
#t49_7{left:150px;bottom:1012px;letter-spacing:0.11px;word-spacing:0.01px;}
#t4a_7{left:41px;bottom:1207px;letter-spacing:1.32px;word-spacing:0.03px;}
#t4b_7{left:37px;bottom:777px;letter-spacing:1.34px;}
#t4c_7{left:38px;bottom:28px;letter-spacing:-0.17px;}
#t4d_7{left:38px;bottom:18px;letter-spacing:-0.17px;}
#t4e_7{left:38px;bottom:9px;letter-spacing:-0.17px;}

.s0_7{font-size:8px;font-family:SoleilBk_7v;color:#768BA8;}
.s1_7{font-size:18px;font-family:CircularStd-Bold_80;color:#FFF;}
.s2_7{font-size:7px;font-family:SoleilBk_7v;color:#1A3D6D;}
.s3_7{font-size:12px;font-family:SoleilBk_7v;color:#1A3D6D;}
.s4_7{font-size:12px;font-family:CircularStd-Bold_80;color:#1A3D6D;}


