#t1_5{left:766px;bottom:115px;letter-spacing:-0.2px;}
#t2_5{left:20.4px;bottom:7.7px;letter-spacing:-0.36px;word-spacing:0.01px;}
#t3_5{left:41px;bottom:58px;letter-spacing:0.14px;}
#t4_5{left:212px;bottom:58px;letter-spacing:0.11px;}
#t5_5{left:383px;bottom:58px;letter-spacing:0.12px;}
#t6_5{left:558px;bottom:58px;letter-spacing:0.13px;}
#t7_5{left:729px;bottom:58px;letter-spacing:0.11px;}
#t8_5{left:598px;bottom:1248px;letter-spacing:0.17px;}
#t9_5{left:37px;bottom:124px;letter-spacing:-0.17px;}
#ta_5{left:37px;bottom:115px;letter-spacing:-0.17px;}
#tb_5{left:37px;bottom:106px;letter-spacing:-0.17px;}

.s0_5{font-size:8px;font-family:SoleilBk_7q;color:#768BA8;}
.s1_5{font-size:9px;font-family:CircularStd-Black_7x;color:#FFF;}
.s2_5{font-size:12px;font-family:SoleilBk_7q;color:#1A3D6D;}
.s3_5{font-size:18px;font-family:CircularStd-Bold_86;color:#FFF;}
.t.m0_5{transform:matrix(0,-1,1,0,0,0);}
#form1_5{	z-index: 2;	padding: 0px;	position: absolute;	left: 40px;	top: 1226px;	width: 156px;	height: 37px;	color: rgb(0,0,0);	text-align: left;	background: transparent;	border: none;	font: normal 13px 'Times New Roman', Times, serif;}
#form2_5{	z-index: 2;	padding: 0px;	position: absolute;	left: 209px;	top: 1226px;	width: 158px;	height: 37px;	color: rgb(0,0,0);	text-align: left;	background: transparent;	border: none;	font: normal 13px 'Times New Roman', Times, serif;}
#form3_5{	z-index: 2;	padding: 0px;	position: absolute;	left: 385px;	top: 1226px;	width: 156px;	height: 37px;	color: rgb(0,0,0);	text-align: left;	background: transparent;	border: none;	font: normal 13px 'Times New Roman', Times, serif;}
#form4_5{	z-index: 2;	padding: 0px;	position: absolute;	left: 556px;	top: 1226px;	width: 157px;	height: 37px;	color: rgb(0,0,0);	text-align: left;	background: transparent;	border: none;	font: normal 13px 'Times New Roman', Times, serif;}
#form5_5{	z-index: 2;	padding: 0px;	position: absolute;	left: 727px;	top: 1226px;	width: 158px;	height: 37px;	color: rgb(0,0,0);	text-align: left;	background: transparent;	border: none;	font: normal 13px 'Times New Roman', Times, serif;}

