
#t1_6{left:726px;bottom:1247px;letter-spacing:0.15px;}
#t2_6{left:37px;bottom:1207px;letter-spacing:1.37px;word-spacing:0.01px;}
#t3_6{left:37px;bottom:1195px;letter-spacing:0.1px;}
#t4_6{left:37px;bottom:1183px;letter-spacing:0.1px;}
#t5_6{left:36px;bottom:1146px;letter-spacing:1.36px;}
#t6_6{left:37px;bottom:1134px;letter-spacing:-0.27px;word-spacing:0.01px;}
#t7_6{left:794px;bottom:1135px;letter-spacing:-0.18px;word-spacing:-0.02px;}
#t8_6{left:37px;bottom:987px;letter-spacing:-0.14px;}
#t9_6{left:37px;bottom:975px;letter-spacing:-0.15px;}
#ta_6{left:724px;bottom:976px;letter-spacing:-0.11px;word-spacing:-0.01px;}
#tb_6{left:36px;bottom:999px;letter-spacing:1.32px;word-spacing:0.05px;}
#tc_6{left:463px;bottom:523px;letter-spacing:0.1px;}
#td_6{left:481px;bottom:498px;letter-spacing:0.04px;}
#te_6{left:525px;bottom:498px;letter-spacing:0.09px;word-spacing:0.01px;}
#tf_6{left:481px;bottom:474px;letter-spacing:0.14px;}
#tg_6{left:525px;bottom:474px;letter-spacing:0.13px;}
#th_6{left:463px;bottom:449px;letter-spacing:0.15px;word-spacing:-0.03px;}
#ti_6{left:481px;bottom:425px;letter-spacing:0.15px;}
#tj_6{left:525px;bottom:425px;letter-spacing:0.13px;word-spacing:-0.02px;}
#tk_6{left:463px;bottom:840px;letter-spacing:0.14px;}
#tl_6{left:481px;bottom:816px;letter-spacing:0.17px;}
#tm_6{left:525px;bottom:816px;letter-spacing:0.11px;}
#tn_6{left:481px;bottom:792px;letter-spacing:0.14px;}
#to_6{left:525px;bottom:792px;letter-spacing:0.1px;word-spacing:-0.04px;}
#tp_6{left:463px;bottom:400px;letter-spacing:0.09px;word-spacing:0.01px;}
#tq_6{left:481px;bottom:376px;letter-spacing:0.13px;}
#tr_6{left:525px;bottom:376px;letter-spacing:0.1px;word-spacing:-0.01px;}
#ts_6{left:482px;bottom:352px;letter-spacing:0.12px;}
#tt_6{left:526px;bottom:352px;letter-spacing:0.1px;}
#tu_6{left:463px;bottom:327px;letter-spacing:0.09px;word-spacing:0.03px;}
#tv_6{left:481px;bottom:303px;letter-spacing:-0.13px;}
#tw_6{left:525px;bottom:303px;letter-spacing:0.1px;word-spacing:0.02px;}
#tx_6{left:463px;bottom:767px;letter-spacing:0.1px;word-spacing:0.01px;}
#ty_6{left:481px;bottom:743px;letter-spacing:0.16px;}
#tz_6{left:525px;bottom:743px;letter-spacing:0.11px;word-spacing:-0.01px;}
#t10_6{left:481px;bottom:718px;letter-spacing:0.26px;}
#t11_6{left:525px;bottom:718px;letter-spacing:0.1px;}
#t12_6{left:481px;bottom:694px;letter-spacing:0.29px;}
#t13_6{left:525px;bottom:694px;letter-spacing:0.11px;word-spacing:-0.01px;}
#t14_6{left:481px;bottom:669px;letter-spacing:0.2px;}
#t15_6{left:525px;bottom:669px;letter-spacing:-0.54px;word-spacing:-0.05px;}
#t16_6{left:648px;bottom:671px;letter-spacing:-0.38px;word-spacing:-0.01px;}
#t17_6{left:730px;bottom:669px;letter-spacing:-0.5px;word-spacing:-0.01px;}
#t18_6{left:481px;bottom:645px;letter-spacing:0.13px;}
#t19_6{left:525px;bottom:645px;letter-spacing:0.1px;word-spacing:0.01px;}
#t1a_6{left:463px;bottom:620px;letter-spacing:0.11px;}
#t1b_6{left:481px;bottom:596px;letter-spacing:0.14px;}
#t1c_6{left:525px;bottom:596px;letter-spacing:0.07px;}
#t1d_6{left:611px;bottom:597px;letter-spacing:0.09px;word-spacing:-0.01px;}
#t1e_6{left:482px;bottom:572px;letter-spacing:0.07px;}
#t1f_6{left:526px;bottom:572px;letter-spacing:0.11px;}
#t1g_6{left:481px;bottom:547px;letter-spacing:0.18px;}
#t1h_6{left:525px;bottom:547px;letter-spacing:0.11px;}
#t1i_6{left:37px;bottom:217px;letter-spacing:0.12px;}
#t1j_6{left:55px;bottom:193px;letter-spacing:0.04px;}
#t1k_6{left:99px;bottom:193px;letter-spacing:0.12px;word-spacing:0.12px;}
#t1l_6{left:463px;bottom:950px;letter-spacing:0.11px;word-spacing:0.01px;}
#t1m_6{left:481px;bottom:926px;letter-spacing:-0.08px;}
#t1n_6{left:525px;bottom:926px;letter-spacing:0.09px;word-spacing:0.02px;}
#t1o_6{left:482px;bottom:902px;letter-spacing:0.14px;}
#t1p_6{left:526px;bottom:902px;letter-spacing:0.1px;}
#t1q_6{left:481px;bottom:877px;letter-spacing:0.16px;}
#t1r_6{left:525px;bottom:865px;letter-spacing:0.11px;word-spacing:-0.01px;}
#t1s_6{left:37px;bottom:559px;letter-spacing:0.11px;}
#t1t_6{left:55px;bottom:535px;letter-spacing:-0.11px;}
#t1u_6{left:99px;bottom:535px;letter-spacing:0.11px;}
#t1v_6{left:37px;bottom:510px;letter-spacing:0.09px;word-spacing:0.02px;}
#t1w_6{left:55px;bottom:486px;letter-spacing:0.13px;}
#t1x_6{left:99px;bottom:486px;letter-spacing:0.09px;word-spacing:0.02px;}
#t1y_6{left:37px;bottom:266px;letter-spacing:0.12px;}
#t1z_6{left:55px;bottom:242px;letter-spacing:0.15px;}
#t20_6{left:99px;bottom:242px;letter-spacing:0.11px;}
#t21_6{left:37px;bottom:804px;letter-spacing:0.11px;}
#t22_6{left:55px;bottom:779px;letter-spacing:0.43px;}
#t23_6{left:99px;bottom:779px;letter-spacing:0.12px;}
#t24_6{left:55px;bottom:755px;letter-spacing:0.15px;}
#t25_6{left:99px;bottom:755px;letter-spacing:0.11px;}
#t26_6{left:55px;bottom:730px;letter-spacing:0.1px;}
#t27_6{left:99px;bottom:730px;letter-spacing:-0.86px;word-spacing:-0.03px;}
#t28_6{left:55px;bottom:706px;letter-spacing:0.16px;}
#t29_6{left:99px;bottom:706px;letter-spacing:-0.86px;word-spacing:-0.01px;}
#t2a_6{left:55px;bottom:682px;letter-spacing:0.1px;}
#t2b_6{left:99px;bottom:682px;letter-spacing:-0.87px;}
#t2c_6{left:260px;bottom:682px;letter-spacing:-0.91px;word-spacing:0.05px;}
#t2d_6{left:55px;bottom:657px;letter-spacing:0.09px;}
#t2e_6{left:99px;bottom:657px;letter-spacing:-0.87px;word-spacing:-0.02px;}
#t2f_6{left:55px;bottom:633px;letter-spacing:0.21px;}
#t2g_6{left:99px;bottom:633px;letter-spacing:0.12px;}
#t2h_6{left:55px;bottom:608px;letter-spacing:0.12px;}
#t2i_6{left:99px;bottom:608px;letter-spacing:0.11px;}
#t2j_6{left:55px;bottom:584px;letter-spacing:0.09px;}
#t2k_6{left:99px;bottom:584px;letter-spacing:0.09px;word-spacing:0.01px;}
#t2l_6{left:37px;bottom:950px;letter-spacing:0.11px;word-spacing:-0.01px;}
#t2m_6{left:55px;bottom:926px;letter-spacing:0.08px;}
#t2n_6{left:99px;bottom:926px;letter-spacing:0.09px;word-spacing:0.01px;}
#t2o_6{left:55px;bottom:902px;letter-spacing:0.14px;}
#t2p_6{left:99px;bottom:902px;letter-spacing:0.12px;word-spacing:-0.02px;}
#t2q_6{left:55px;bottom:877px;letter-spacing:0.18px;}
#t2r_6{left:99px;bottom:877px;letter-spacing:0.11px;word-spacing:-0.01px;}
#t2s_6{left:55px;bottom:853px;letter-spacing:0.1px;}
#t2t_6{left:99px;bottom:853px;letter-spacing:0.1px;}
#t2u_6{left:55px;bottom:828px;letter-spacing:0.03px;}
#t2v_6{left:99px;bottom:828px;letter-spacing:0.11px;}
#t2w_6{left:37px;bottom:168px;letter-spacing:0.14px;word-spacing:-0.03px;}
#t2x_6{left:55px;bottom:144px;letter-spacing:0.25px;}
#t2y_6{left:99px;bottom:144px;letter-spacing:0.03px;word-spacing:0.07px;}
#t2z_6{left:55px;bottom:119px;letter-spacing:0.04px;}
#t30_6{left:99px;bottom:119px;letter-spacing:0.11px;word-spacing:0.01px;}
#t31_6{left:55px;bottom:95px;letter-spacing:0.12px;}
#t32_6{left:99px;bottom:95px;letter-spacing:0.11px;}
#t33_6{left:55px;bottom:70px;letter-spacing:0.08px;}
#t34_6{left:99px;bottom:70px;letter-spacing:0.12px;word-spacing:-0.02px;}
#t35_6{left:463px;bottom:278px;letter-spacing:0.1px;word-spacing:0.01px;}
#t36_6{left:482px;bottom:254px;letter-spacing:0.13px;}
#t37_6{left:525px;bottom:254px;letter-spacing:0.08px;word-spacing:0.02px;}
#t38_6{left:623px;bottom:255px;letter-spacing:0.06px;word-spacing:0.01px;}
#t39_6{left:481px;bottom:229px;letter-spacing:-0.09px;}
#t3a_6{left:525px;bottom:229px;letter-spacing:0.11px;}
#t3b_6{left:37px;bottom:339px;letter-spacing:0.1px;word-spacing:0.01px;}
#t3c_6{left:55px;bottom:315px;letter-spacing:0.24px;}
#t3d_6{left:99px;bottom:315px;letter-spacing:0.1px;}
#t3e_6{left:164px;bottom:316px;letter-spacing:0.07px;word-spacing:0.01px;}
#t3f_6{left:55px;bottom:290px;letter-spacing:0.1px;}
#t3g_6{left:99px;bottom:290px;letter-spacing:-0.54px;word-spacing:0.01px;}
#t3h_6{left:169px;bottom:290px;letter-spacing:-0.49px;word-spacing:0.01px;}
#t3i_6{left:542px;bottom:1109px;letter-spacing:0.3px;}
#t3j_6{left:542px;bottom:1085px;letter-spacing:0.11px;}
#t3k_6{left:542px;bottom:1060px;letter-spacing:0.09px;}
#t3l_6{left:542px;bottom:1036px;letter-spacing:0.11px;}
#t3m_6{left:578px;bottom:1109px;letter-spacing:-0.81px;word-spacing:-0.04px;}
#t3n_6{left:578px;bottom:1085px;letter-spacing:-0.83px;word-spacing:0.01px;}
#t3o_6{left:578px;bottom:1060px;letter-spacing:-0.81px;word-spacing:-0.02px;}
#t3p_6{left:578px;bottom:1036px;letter-spacing:-0.8px;word-spacing:-0.01px;}
#t3q_6{left:650px;bottom:1037px;letter-spacing:-0.6px;}
#t3r_6{left:672px;bottom:1037px;letter-spacing:-0.62px;}
#t3s_6{left:105px;bottom:1109px;letter-spacing:-0.8px;word-spacing:-0.06px;}
#t3t_6{left:105px;bottom:1085px;letter-spacing:-0.83px;word-spacing:-0.01px;}
#t3u_6{left:105px;bottom:1060px;letter-spacing:-0.8px;word-spacing:-0.04px;}
#t3v_6{left:105px;bottom:1036px;letter-spacing:-0.88px;}
#t3w_6{left:161px;bottom:1036px;}
#t3x_6{left:63px;bottom:1109px;letter-spacing:0.23px;}
#t3y_6{left:63px;bottom:1085px;letter-spacing:0.24px;}
#t3z_6{left:63px;bottom:1060px;letter-spacing:0.24px;}
#t40_6{left:63px;bottom:1036px;letter-spacing:0.29px;}
#t41_6{left:287px;bottom:1109px;letter-spacing:0.26px;}
#t42_6{left:287px;bottom:1085px;letter-spacing:0.33px;}
#t43_6{left:287px;bottom:1060px;letter-spacing:0.21px;}
#t44_6{left:287px;bottom:1036px;letter-spacing:0.25px;}
#t45_6{left:325px;bottom:1109px;letter-spacing:-0.85px;}
#t46_6{left:325px;bottom:1085px;letter-spacing:-0.84px;word-spacing:0.01px;}
#t47_6{left:325px;bottom:1060px;letter-spacing:-0.8px;}
#t48_6{left:325px;bottom:1036px;letter-spacing:-0.81px;}
#t49_6{left:37px;bottom:46px;letter-spacing:0.12px;}
#t4a_6{left:55px;bottom:22px;letter-spacing:0.17px;}
#t4b_6{left:99px;bottom:22px;letter-spacing:-0.5px;}
#t4c_6{left:37px;bottom:462px;letter-spacing:0.13px;word-spacing:-0.02px;}
#t4d_6{left:55px;bottom:437px;letter-spacing:0.17px;}
#t4e_6{left:99px;bottom:437px;letter-spacing:0.13px;}
#t4f_6{left:55px;bottom:413px;letter-spacing:0.13px;}
#t4g_6{left:99px;bottom:413px;letter-spacing:-0.51px;}
#t4h_6{left:55px;bottom:388px;letter-spacing:0.07px;}
#t4i_6{left:99px;bottom:388px;letter-spacing:-0.48px;word-spacing:-0.05px;}
#t4j_6{left:55px;bottom:364px;letter-spacing:0.21px;}
#t4k_6{left:99px;bottom:364px;letter-spacing:-0.5px;word-spacing:-0.01px;}
#t4l_6{left:463px;bottom:205px;letter-spacing:0.13px;word-spacing:-0.02px;}
#t4m_6{left:481px;bottom:180px;letter-spacing:0.16px;}
#t4n_6{left:525px;bottom:180px;letter-spacing:-0.49px;word-spacing:-0.06px;}
#t4o_6{left:463px;bottom:156px;letter-spacing:0.14px;word-spacing:-0.04px;}
#t4p_6{left:481px;bottom:132px;letter-spacing:-0.03px;}
#t4q_6{left:525px;bottom:132px;letter-spacing:0.11px;word-spacing:-0.02px;}
#t4r_6{left:660px;bottom:133px;letter-spacing:0.07px;word-spacing:0.01px;}
#t4s_6{left:481px;bottom:107px;letter-spacing:-0.03px;}
#t4t_6{left:525px;bottom:107px;letter-spacing:-0.52px;word-spacing:-0.01px;}
#t4u_6{left:463px;bottom:83px;letter-spacing:0.1px;word-spacing:0.01px;}
#t4v_6{left:481px;bottom:58px;letter-spacing:0.13px;}
#t4w_6{left:525px;bottom:58px;letter-spacing:0.11px;}
#t4x_6{left:820px;bottom:60px;letter-spacing:0.09px;}
#t4y_6{left:482px;bottom:34px;letter-spacing:0.17px;}
#t4z_6{left:526px;bottom:34px;letter-spacing:0.11px;word-spacing:0.01px;}
#t50_6{left:481px;bottom:9px;letter-spacing:0.14px;}
#t51_6{left:525px;bottom:9px;letter-spacing:0.11px;word-spacing:-0.01px;}

.s0_6{font-size:18px;font-family:CircularStd-Bold_8d;color:#FFF;}
.s1_6{font-size:12px;font-family:CircularStd-Bold_8d;color:#1A3D6D;}
.s2_6{font-size:12px;font-family:SoleilBk_7p;color:#1A3D6D;}
.s3_6{font-size:9px;font-family:SoleilBk_7p;color:#1A3D6D;}
.s4_6{font-size:12px;font-family:Soleil-Bold_7w;color:#1A3D6D;}

