.scrollable {
  display:block;  
  background-color: #f1f1f1;
  overflow: scroll;
  width: 90%;
  height: fit-content;
  margin: 5px;
  text-align: center;
  justify-content: center;
  padding: 5px;
}


.middle {
   display: block;
   text-align: center;
   justify-content: center; 
   justify-items: center;
   margin-left: auto;
   margin-right: auto;
}